html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif;
  min-width: 303px;
  font-size: 18px; }

.page-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.welcom-content {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.welcome__btn-start {
  padding: 10px 15px;
  background: #3e5066;
  text-decoration: none;
  color: #fff; }

.welcome__info {
  margin: 25px 0;
  text-align: start;
  line-height: 1.3; }

.welcom {
  text-align: center;
  width: 600px; }

.welcome__title {
  font-size: 32px; }

.welcome__benefits {
  text-align: center;
  font-size: 24px; }

.welcome__list {
  margin: 10px 0 22px 26px; }
  .welcome__list li {
    position: relative;
    text-align: start;
    padding: 15px 10px;
    line-height: 1.3; }
  .welcome__list li:before {
    position: absolute;
    content: url(../image/welcome-done.png);
    left: -27px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
  background: #c7ccd4; }

.menu-page {
  background: #22344d;
  min-width: 250px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.menu-page li {
  list-style: none;
  background: #3e5066;
  margin: 15px;
  text-align: center; }
  .menu-page li.active {
    background: #57708f;
    -webkit-box-shadow: 0 0 15px #57708f;
    box-shadow: 0 0 15px #57708f; }

.menu-page a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  display: block; }

.cacl-page, .lifehacks-page, .info-page {
  background: #3e5066;
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.calc-header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.calc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 20px;
  max-width: 800px;
  margin: 0 auto; }

.progressbar li {
  float: left;
  width: 50%;
  position: relative;
  text-align: center; }

.progressbar {
  width: 600px;
  z-index: 1;
  counter-reset: list; }

.progressbar li:before {
  counter-increment: list;
  content: counter(list);
  width: 30px;
  height: 30px;
  border: 2px solid #3aac5d;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 30px;
  background: #3aac5d;
  color: #fff;
  text-align: center;
  font-weight: bold; }

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #3aac5d;
  top: 15px;
  left: -50%;
  z-index: -1; }

.progressbar li.active + li:after {
  background: #fff; }

.progressbar li.active + li:before {
  border-color: #979797;
  background: #fff;
  color: #979797; }

.progressbar li:first-child:after {
  content: none; }

#weight {
  right: 20px;
  width: 40px;
  background: none;
  text-align: center;
  padding: 2px 6px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 18px; }
  #weight:focus {
    width: 50px;
    border-color: #fff;
    background: #c7ccd4;
    font-size: 18px;
    color: #000;
    padding: 6px 6px; }

.calc-weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 200px;
  height: 35px;
  margin: 20px 0; }
  .calc-weight label {
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.calc-drink__add-btn {
  border: none;
  background: #c7ccd4;
  padding: 7px 20px;
  margin: 20px 0;
  font-size: 18px;
  color: #3e5066; }

.calc-value {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.calc-dose {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }
  .calc-dose label {
    position: absolute;
    left: 38px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.calc-alcohol {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }
  .calc-alcohol label {
    position: absolute;
    left: 38px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }

#dose,
#alcohol {
  left: 40px;
  width: 40px;
  background: none;
  text-align: center;
  padding: 2px 6px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 18px; }
  #dose:focus,
  #alcohol:focus {
    width: 50px;
    border-color: #fff;
    background: #c7ccd4;
    font-size: 18px;
    color: #000;
    padding: 6px 6px; }

.blackAlcohol,
.blackDose, .blackWeight {
  color: #fff;
  border: 2px solid #c7ccd4;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.cacl-alcohol__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 10px 0;
  border-radius: 3px;
  width: 570px; }

.calc-speed {
  margin: 20px 0px; }

.calc-drinks {
  text-align: center; }
  .calc-drinks p {
    font-size: 22px;
    border-bottom: 1px solid;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 12px; }

.calc-drink__remove-btn {
  position: absolute;
  right: -30px;
  top: 6px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  background-color: transparent;
  font-size: 0;
  border: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.cacl-alcohol__item:first-child .calc-drink__remove-btn {
  display: none; }

.calc-drink__remove-btn:before,
.calc-drink__remove-btn:after {
  position: absolute;
  top: 0;
  left: 8;
  content: ' ';
  height: 25px;
  width: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.calc-drink__remove-btn:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.calc-drink__remove-btn:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.calc-drink__remove-btn:hover {
  opacity: 1; }

.display-remove-btn {
  display: inline-block; }

#drinks,
#speed-drink,
#stomach,
#time-drink {
  padding: 7px 32px 7px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 18px; }

.blackDrinks,
.blackStomach,
.blackSpeedDrink,
.blackTimeDrink {
  background: #6c7d92;
  color: #fff;
  border: 1px solid #ccc; }

.select {
  position: relative; }

.select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px; }

.calc-speed,
.calc-stomach,
.time-drink,
.calc-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 600px; }

.activeCalc {
  border: none;
  background: #3aac5d;
  -webkit-box-shadow: 0 0 10px #3aac5d;
  box-shadow: 0 0 10px #3aac5d;
  padding: 7px 20px;
  margin: 20px 0;
  font-size: 18px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.disabledCalc {
  background: #fa5757;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-filter: brightness(70%);
  filter: brightness(70%); }

.errorWeight {
  color: #fa5757;
  padding-bottom: 15px; }

.calc-result {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.calc-result__title {
  margin: 15px auto;
  font-size: 22px;
  border-bottom: 1px solid #c7ccd4;
  padding: 7px 15px; }

.calc-result__ppm {
  font-size: 32px;
  color: #fa5757;
  -webkit-box-shadow: 0 0 10px #fa5757;
  box-shadow: 0 0 10px #fa5757;
  padding: 10px 20px;
  margin: 0 auto; }

.timer-numbers {
  font-size: 24px;
  border: 1px solid #c7ccd4;
  margin: 0 auto;
  width: 180px;
  padding: 5px 10px; }

.result-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.image-result {
  margin: auto; }
  .image-result img {
    width: 350px;
    height: 350px; }

.condition-result {
  padding: 0 40px; }

.titleBehavior,
.titleViolations {
  margin-bottom: 8px;
  font-size: 22px;
  border-bottom: 1px solid yellow;
  padding: 0px 15px 7px; }

.resultBehavior,
.resultViolations {
  padding-bottom: 28px; }
  .resultBehavior li,
  .resultViolations li {
    padding: 3px 0; }

.main-content {
  max-width: 1200px;
  padding: 32px 20px;
  margin: 0 auto; }

.lifehacks-page__title {
  font-size: 32px;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 40px; }

.lifehacks-page__subtitle {
  border-left: 1px solid yellow;
  font-size: 22px;
  padding: 10px 10px 0 10px;
  z-index: 2;
  display: inline;
  background: #536070;
  border-radius: 10px 10px 0 0; }

.lifehacks-page__text {
  border-left: 1px solid yellow;
  margin-bottom: 20px;
  line-height: 1.3;
  background: #536070;
  border-radius: 0 10px 10px 10px;
  padding: 10px; }

.vodka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.info-percent {
  width: 20px;
  height: 20px; }

.progress-beer {
  width: 70%;
  height: 40px;
  position: relative;
  background: #3e5066;
  margin: 30px 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .progress-beer div.line {
    width: 0%;
    height: 100%;
    position: absolute;
    background: #f77979; }
  .progress-beer div.number {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 27%; }

.progress-vodka {
  width: 65%;
  height: 40px;
  position: relative;
  background: #3e5066;
  margin: 30px 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .progress-vodka div.line {
    width: 0%;
    height: 100%;
    position: absolute;
    background: #e0f759; }
  .progress-vodka div.number {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 27%; }

.progress-wine {
  width: 62%;
  height: 40px;
  position: relative;
  background: #3e5066;
  margin: 30px 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .progress-wine div.line {
    width: 0%;
    height: 100%;
    position: absolute;
    background: #36d15d; }
  .progress-wine div.number {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 27%; }

.progress-cognac {
  width: 21%;
  height: 40px;
  position: relative;
  background: #3e5066;
  margin: 30px 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .progress-cognac div.line {
    width: 0%;
    height: 100%;
    position: absolute;
    background: #3693d1; }
  .progress-cognac div.number {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 27%; }

.progress-other {
  width: 21%;
  height: 40px;
  position: relative;
  background: #3e5066;
  margin: 30px 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .progress-other div.line {
    width: 0%;
    height: 100%;
    position: absolute;
    background: #f7b23b; }
  .progress-other div.number {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 27%; }

.info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.info-content__text {
  width: 10%;
  font-size: 20px;
  margin: 0 30px; }

.info-title {
  text-align: center;
  font-size: 32px;
  margin: 30px 0px; }
